<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
  </title>
  <%- include('shared/head') %>
</head>

<body>
  <header>
    <div class="logo-container">
      <h1>
        Scale Shred UNO!
      </h1>
    </div>
  </header>
  <main>
    <div id="container" data-game-id="<%= gameId %>">
      Game page <%= gameId %>

      <% if (isCreator && canStartGame) { %>
        <form action="/games/start/<%= gameId %>" method="post">
          <button type="submit">Start Game</button>
        </form>
      <% } %>

      <form action="/games/leave/<%= gameId %>" method="post">
        <button type="submit">Leave</button>
      </form>

      <% if (isCreator) { %>
        <form action="/games/end/<%= gameId %>" method="post">
          <button type="submit">End Game</button>
        </form>
      <% } %>

      <ul id="player-list">
        <% if (players && players.length > 0) { %>
          <% players.forEach(player => { %>
            <li>
              <%= player.username %>
            </li>
          <% }); %>
        <% } else { %>
          <li>No players currently in the lobby.</li>
        <% } %>
      </ul>
    </div>

  </main>
</body>

</html>