<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            <%= title %>
        </title>
        <%- include('shared/head') %>
    </head>
    <body>
        <header>
            <h1><a id="home-button" href="/">Scale Shred UNO</a></h1>
        </header>
        <%- include('shared/menu') %>
        <main>
            <div id="container">
                <h2>
                    Welcome <%= user.username %>
                </h2>
                <div class="icon-container">
                    <img class="gravatar" src="https://www.gravatar.com/avatar/<%= user.gravatar %>?s=32&d=monsterid" />
                </div>

                <button id="create-game-button">Create Game</button>
                
                <!-- hard-coded for now. we can make these dynamic later. put these in shared directory later -->
                <div id="lobby-container">
                    <section id="game">
                        <h2>Join games</h2>
                        <div class="game-instance">
                            <div class="game-info">
                                <span class="game-name">Game 1</span>
                                <span class="players">user1, user2, user3</span>
                            </div>
                            <form action="/games/join/1" method="post">
                                <button type="submit">Join</button>
                            </form>
                        </div>    
                        <div class="game-instance">
                            <div class="game-info">
                                <span class="game-name">Game 2</span>
                                <span class="players">user1, user2, user3</span>
                            </div>
                            <form action="/games/join/2" method="post">
                                <button type="submit">Join</button>
                            </form>
                        </div> 
                    </section>
                    
                    <section id="chat">
                        <!-- not the most ideal approach to displaying chat messages. -->
                        <div class="chat-message"></div>
                        <form class="chat-form">
                            <input type="text" id="message-box" name="message" placeholder="Type your message here">
                            <button id="submit-message" type="submit">Send</button>
                        </form>
                    </section>
                </div>
            </div>
        </main>
        <%- include('games/create-form') %>
        <%- include('shared/templates') %>
    </body>
</html>